{% extends 'base.html.twig' %}

{% block title %}Modifier votre profil{% endblock %}
{% block body %}
    <main class="container-fluid">
        <h1>Modifier votre profil</h1>

        {% for message in app.flashes('SuccessProfile') %}
            <div class="flash-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="container-fluid formEntité2" id="formUserProfile">
            {{ form_start(form) }}
            <div id="screenLeft">
                {{ form_label(form.prenomUser) }}
                {% if form_errors(form.prenomUser) %}
                    <div class="erreur">
                        {{ form_errors(form.prenomUser) }}
                    </div>
                {% endif %}
                <div class="divInput">
                    {{ form_widget(form.prenomUser) }}
                </div>
                {{ form_label(form.nomUser) }}
                {% if form_errors(form.nomUser) %}
                    <div class="erreur">
                        {{ form_errors(form.nomUser) }}
                    </div>
                {% endif %}
                <div class="divInput">
                    {{ form_widget(form.nomUser) }}
                </div>
                {{ form_label(form.email) }}
                {% if form_errors(form.email) %}
                    <div class="erreur">
                        {{ form_errors(form.email) }}
                    </div>
                {% endif %}
                <div class="divInput">
                    {{ form_widget(form.email) }}
                </div>
            </div>
            <div id="screenRight">
                {% if form_errors(form.plainPassword) %}
                    <div class="erreur">
                        {{ form_errors(form.plainPassword) }}
                    </div>
                {% endif %}
                <div class="divInput">
                    {{ form_help(form.plainPassword) }}
                    {{ form_widget(form.plainPassword) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="row">
            <div id="divAjout">
                <button type="submit" class="btn btn-success" form="formEditProfile">
                    Enregistrer la modification du profil
                </button>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('profile_admin',{'userTokenHash': app.user.tokenHash}) }}"
                           class="btn btn-secondary" id="btnRetour">
                            Revenir sur votre page de profil
                        </a>
                    {% elseif is_granted('ROLE_ELEVE') %}
                        <a href="{{ path('profile_eleve',{'userTokenHash': app.user.tokenHash}) }}"
                           class="btn btn-secondary" id="btnRetour">
                            Revenir sur votre page de profil
                        </a>
                    {% elseif is_granted('ROLE_ADULTE') %}
                        <a href="{{ path('profile_adulte',{'userTokenHash': app.user.tokenHash}) }}"
                           class="btn btn-secondary" id="btnRetour">
                            Revenir sur votre page de profil
                        </a>
                    {% elseif is_granted('ROLE_CUISINE') %}
                        <a href="{{ path('profile_cuisine',{'userTokenHash': app.user.tokenHash}) }}"
                           class="btn btn-secondary" id="btnRetour">
                            Revenir sur votre page de profil
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}