{% extends 'base.html.twig' %}

{% block title %}Votre Profile{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{asset('static/css/admin.css')}}">{% endblock %}

{% block body %}
    <main>
        <div id="profilHeader">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                <h1>Bienvenue {{app.user.getPrenomUser}} {{app.user.getNomUser}}.</h1>
            {% endif %}
            <p>Vous êtes enregistré en tant <span id="typeUser">qu'élève</span> sur cette plateforme.</p>
            <p>Ma Classe : {{ eleve.classeEleve.codeClasse }}</p>
        </div>
        <div>
            <h2>Vous êtes inscrit à la cantine:</h2>
            <table class="table tableAdmin">
                <thead>
                    <tr>
                        <th scope="col">Lundi</th>
                        <th scope="col">Mardi</th>
                        <th scope="col">Mercredi</th>
                        <th scope="col">Jeudi</th>
                        <th scope="col">Vendredi</th>
                    </tr>
                </thead>
                <tbody>
                    {% if inscritCantine %}
                        <tr>
                            <td>
                                {{ inscritCantine.repasJ1 ? '<i class="fas fa-check"></i>' :
                                '<i class="fas fa-times"></i>' }}
                            </td>
                            <td>
                                {{ inscritCantine.repasJ2 ? '<i class="fas fa-check"></i>' :
                                '<i class="fas fa-times"></i>' }}
                            </td>
                            <td>
                                {{ inscritCantine.repasJ3 ? '<i class="fas fa-check"></i>' :
                                '<i class="fas fa-times"></i>' }}
                            </td>
                            <td>
                                {{ inscritCantine.repasJ4 ? '<i class="fas fa-check"></i>' :
                                '<i class="fas fa-times"></i>' }}
                            </td>
                            <td>
                                {{ inscritCantine.repasJ5 ? '<i class="fas fa-check"></i>' :
                                '<i class="fas fa-times"></i>' }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="erreur">Vous n'êtes pas inscrit à la cantine</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div>
            <h2>Vos accès :</h2>
            <table class="table tableAdmin">
                <thead>
                    <tr>
                        <th scope="col">Nom de la fonctionnalité</th>
                        <th scope="col">Lien pour gérer la fonctionnalité</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Éditer votre profil</td>
                        <td>
                            <a class="btn btn-info" id="btnProfilAcces1"
                               href="{{path('profile_edit',{'id': app.user.id})}}">
                                Éditer votre profil
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Commande individuelle</td>
                        <td>
                            <a class="btn btn-info" id="btnProfilAcces2"
                               href="{{ path('commande_individuelle_new') }}">
                                Faire vos commandes individuelles
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Commande groupée</td>
                        <td>
                            <a class="btn btn-info" id="btnProfilAcces3"
                               href="{{ path('commande_groupe_new') }}">
                                Faire vos commandes groupées
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Votre liste de commandes</td>
                        <td>
                            <a class="btn btn-info" id="btnProfilAcces4"
                               href="{{ path('commande_individuelle_index') }}">
                                Voir votre liste de commandes
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
