{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <main>
        <div>
            <h1>Inscription</h1>
            <div>
                <h2>Inscrivez-vous dès maintenant pour pouvoir vous connecter.</h2>
            </div>
            {% for message in app.flashes('successInscription') %}
                <div class="flash-success">
                    {{ message|replace({".":".</br>"})|raw }}
                </div>
            {% endfor %}
            {% for message in app.flashes('failedInscription') %}
                <div class="erreur">
                    {{ message|replace({".":".</br>"})|raw }}
                </div>
            {% endfor %}
            <section id="formRegister">
                <div class="container-fluid">
                    <div>
                        {{form_start(registrationForm)}}
                        <div id="part1">
                            {{form_label(registrationForm.prenomUser)}}
                            <div id="divInput">
                                {{form_widget(registrationForm.prenomUser)}}
                            </div>
                            {% if form_errors(registrationForm.prenomUser) %}
                                <div class="erreur">
                                    {{form_errors(registrationForm.prenomUser)}}
                                </div>
                            {% endif %}
                            {{form_label(registrationForm.nomUser)}}
                            <div id="divInput">
                                {{form_widget(registrationForm.nomUser)}}
                            </div>
                            {% if form_errors(registrationForm.nomUser) %}
                                <div class="erreur">
                                    {{form_errors(registrationForm.nomUser)}}
                                </div>
                            {% endif %}
                            {{form_label(registrationForm.email)}}
                            <div id="divInput">
                                {{form_widget(registrationForm.email)}}
                            </div>
                            {% if form_errors(registrationForm.email) %}
                                <div class="erreur">
                                    {{form_errors(registrationForm.email)}}
                                </div>
                            {% endif %}
                            {{form_label(registrationForm.dateNaissanceUser)}}
                            <div id="divInput">
                                {{form_help(registrationForm.dateNaissanceUser)}}
                                {{form_widget(registrationForm.dateNaissanceUser)}}
                            </div>
                            {% if form_errors(registrationForm.dateNaissanceUser) %}
                                <div class="erreur">
                                    {{form_errors(registrationForm.dateNaissanceUser)}}
                                </div>
                            {% endif %}
                        </div>
                        <div id="part2">
                            <div id="divInput">
                                {{form_help(registrationForm.plainPassword)}}
                                {{form_widget(registrationForm.plainPassword)}}
                            </div>
                            {% if form_errors(registrationForm.plainPassword)%}
                                <div class="erreur">
                                    {{form_errors(registrationForm.plainPassword)}}
                                </div>
                            {% endif %}
                        </div>
                        {{form_end(registrationForm)}}
                    </div>
                    <div class="row">
                        <div id="divAjout">
                            <button type="submit" class="btn btn-success" form="registerForm">
                                S'inscrire
                            </button>
                            <a href="{{ path('app_login') }}"
                               id="btnRetour" class="btn btn-secondary">
                                Revenir au formulaire de connexion
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}