{% extends 'base.html.twig' %}

{% block title %}Oubli de mot de passe{% endblock %}

{% block body %}
    <main class="container-fluid">
        <h1>Oubli de mot de passe</h1>

        <h2>Veuillez saisir votre email pour envoyer une demande de réinitialisation de votre mot de passe.</h2>
        {% for message in app.flashes('SuccessOubli') %}
            <div class="flash-success">
                {{  message|replace({".":".</br>"})|raw }}
            </div>
        {% endfor %}
        {% if error %}
            <div class="erreur">
                {{ error }}
                {% if retryAfter %}
                    {{ message|replace({".":".</br>"})|raw }}
                    Veuillez ressayer {{ retryAfter|raw }} !
                {% endif %}
            </div>
        {% endif %}
        <div class="container-fluid formEntité">
            {{ form_start(form) }}
            <div>
                {{form_label(form.emailFirst)}}
                {% if form_errors(form.emailFirst) %}
                    <div class="erreur">
                        <p>{{ form_errors(form.emailFirst) }}<p>
                    </div>
                {% endif %}
                <div>
                    {{form_widget(form.emailFirst)}}
                </div>
                {{form_label(form.dateAnniversaire)}}
                {{form_help(form.dateAnniversaire)}}
                {% if form_errors(form.dateAnniversaire) %}
                    <div class="erreur">
                        <p>{{ form_errors(form.dateAnniversaire) }}<p>
                    </div>
                {% endif %}
                <div>
                    {{form_widget(form.dateAnniversaire)}}
                </div>
            </div>
            {{form_end(form) }}
        </div>
        <div class="row">
            <div id="divAjout">
                <button type="submit" class="btn btn-success" form="formOubliMdp">
                    Envoyer votre demande
                </button>
                <a href="{{ path('app_login') }}"
                   id="btnRetour" class="btn btn-secondary">
                    Revenir au formulaire de connexion
                </a>
            </div>
        </div>
    </main>
{% endblock %}
