{{form_start(form)}}
    <div id="screenLeft">
        {{form_label(form.libelleLimite)}}
        {% if form_errors(form.libelleLimite) %}
            <div class="erreur">
                {{ form_errors(form.libelleLimite) }}
            </div>
        {% endif %}
        <div class="divInput">
            {{ form_widget(form.libelleLimite) }}
        </div>
        {{ form_label(form.is_active) }}
        {%if form_errors(form.is_active) %}
            <div class="erreur">
                {{ form_errors(form.is_active) }}
            </div>
        {% endif %}
        <div class="divInput">
            {{ form_widget(form.is_active) }}
        </div>
    </div>
    <div id="screenRight">
        {{ form_label(form.nbLimite) }}
        {%if form_errors(form.nbLimite) %}
            <div class="erreur">
                {{ form_errors(form.nbLimite) }}
            </div>
        {% endif %}
        <div class="divInput">
            {{ form_widget(form.nbLimite) }}
        </div>
        {{form_label(form.heureLimite)}}
        {%if form_errors(form.heureLimite)%}
            <div class="erreur">
                {{ form_errors(form.heureLimite) }}
            </div>
        {% endif %}
        <div id="selectClasse">
            {{ form_widget(form.heureLimite) }}
        </div>
    </div>
{{form_end(form)}}