{% extends 'base.html.twig' %}

{% block title %}Suppression d'une classe{% endblock %}
{% block body %}
    <main>
        <h1>Suppression d'une classe</h1>

        <h2>Cliquez sur le bouton Supprimer pour supprimer la classe choisie : {{classe.libelle}}</h2>

        {% for message in app.flashes('deleteDangerClasse') %}
            <div class="flash-danger" id="warning">
                <p>{{ message|replace({".":".</br>"})|raw }}.</p>
            </div>
            <div>
                <table class="table tableSuppr">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Prénom de l'élève</th>
                            <th>Nom de l'événement</th>
                            <th>Éditer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for eleve in classe.eleves %}
                            <tr>
                                <td>{{eleve.id}}</td>
                                <td>{{eleve.nomEleve}}</td>
                                <td>{{eleve.prenomEleve}}</td>
                                <td>
                                    <a href="{{ path('eleve_edit',
                                    {'id': eleve.id}) }}">
                                        <button class="btn btn-primary">
                                            <i class="far fa-edit"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}

        {{ include('classe/_delete_form.html.twig') }}

        <div>
            <a href="{{ path('classe_index') }}">
                <button class="btn btn-secondary" id="btnRetourSuppr">
                    Revenir à la liste
                </button> 
            </a>
        </div>
    </main>
{% endblock %}