{% extends 'base.html.twig' %}

{% block title %}{{ classe.libelleClasse }}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{asset('static/css/admin.css')}}">{% endblock %}


{% block body %}
    <h1>Liste des élèves des {{classe.libelleClasse}}</h1>
    <div>
        <a href="{{ path('classe_index') }}"
         class="btn btn-secondary" id="btnRetour">
            Retourner à la liste
        </a>
    </div>
    <div >
        <div id="filtre">
            {{form_start(form)}}
                <div class="selectFiltre">
                    <span>{{form_label(form.ordrePrenom)}}</span>
                    {{form_widget(form.ordrePrenom)}}
                    <span>{{form_label(form.ordreNom)}}</span>
                    {{form_widget(form.ordreNom)}}
                    <button type="submit" class="btn btn-info">
                        Afficher
                    </button>
                </div>
            {{form_end(form)}}
        </div>
    </div>
    <table class="table tableAdmin">
        <thead>
            <tr>
                <th>Nom de l'élève</th>
                <th>Prénom de l'élève</th>
            </tr>
        </thead>
        <tbody>
            {% for eleve in eleves%}
                <tr>
                    <td>{{ eleve.nomEleve }}</td>
                    <td>{{ eleve.prenomEleve }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2" class="erreur">Aucune donnée n'a été trouvée</td>
                </tr>
            {% endfor%}
        </tbody>
    </table>

{% endblock %}
