{% extends 'base.html.twig' %}

{% block title %}Ajouter une liste d'adultes{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('static/css/admin.css') }}">
{% endblock %}
{% block body %}
    <main class="container-fluid">
        <h1>Ajouter une liste d'utilisateur</h1>

        <h2>Veuillez sélectionner un fichier contenant une liste d'adultes !</h2>
        <h2>Voici les champs obligatoires dans cette ordre et</h2>
        <h2>les titres des champs doivent être nommés comme afficher ici :</h2>
        <img id="champObli" src="{{ asset('/static/images/champObligatoireAdulte.png') }}"
             alt="Champ obligatoire liste d'adultes">

        {% for message in app.flashes('SuccessFileSubmit') %}
            <div class="flash-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('SuccessAdulteFileSubmit') %}
            <div class="flash-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="fichierForm">
            {{ form_start(form) }}
            <div>
                <label>Liste d'adultes :</label>
                {{ form_help(form.fileSubmit) }}
                {% if form_errors(form.fileSubmit) %}
                    <div class="erreur">
                        {{ form_errors(form.fileSubmit) }}
                    </div>
                {% endif %}
            </div>
            <div id="fileInputUser">
                {{ form_widget(form.fileSubmit) }}
            </div>
            {{ form_end(form) }}
        </div>
        <div class="row">
            <div id="divAjout">
                <button type="submit" class="btn btn-success" form="formFichier">
                    Envoyer votre liste d'adultes
                </button>
                <a href="{{ path('adulte_index') }}"
                   id="btnRetour" class="btn btn-secondary">
                    Revenir à la liste
                </a>
            </div>
        </div>
    </main>
{% endblock %}