{% extends 'base.html.twig' %}

{% block title %}Modifier les inscriptions à la cantine{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{asset('static/css/admin.css')}}">{% endblock %}

{% block body %}

    <h1>Modifier les inscriptions à la cantine.</h1>
    <h2>Veuillez sélectionner un fichier contenant une liste des élèves avec leur inscription à la cantine.</h2>

    {% for message in app.flashes('SuccessFileSubmit') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="fichierForm">
        {{form_start(form)}}
        <div>
            <label>Liste des inscriptions (en XLSX) :</label>
            {{ form_help(form.fileSubmit) }}
            {% if form_errors(form.fileSubmit) %}
                <div class="erreur">
                    {{form_errors(form.fileSubmit)}}
                </div>
            {% endif %}
        </div>
        <div id="fileInputUser">
            {{form_widget(form.fileSubmit)}}
        </div>
        {{form_end(form)}}
    </div>
    <div class="row">
        <div id="divAjout">
            <button type="submit" class="btn btn-success" form="formFichier">
                Envoyer votre liste d'inscription
            </button>
            <a href="{{ path('espace_admin') }}"
               id="btnRetour" class="btn btn-secondary">
                Revenir à l'espace administration
            </a>
        </div>
    </div>

{% endblock %}