{% extends 'base.html.twig' %}

{% block title %}Modifier les inscriptions à la cantine{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('static/css/admin.css') }}">
{% endblock %}
{% block body %}
    <main class="container-fluid">
        <div>
            <h1>Modifier les inscriptions à la cantine.</h1>
            <h2>Veuillez sélectionner un fichier contenant une liste des élèves avec leur inscription à la cantine
                !</h2>
            <h3>Attention: Vous ne pouvez pas créer des élèves sur cette page !</h3>
            <h3>Veuillez appuyer sur le bouton suivant.</h3>
            <a class="btn btn-info" href="{{ path('eleve_file') }}">Ajouter une liste d'élèves</a>
        </div>
        <div>
            <h2>Voici les champs obligatoires dans cette ordre et</h2>
            <h2>les titres des champs doivent être nommés comme afficher ici :</h2>
            <img id="champObli" src="{{ asset('/static/images/champObligatoireCantine.png') }}"
                 alt="Champ obligatoire liste d'inscription de cantine">
        </div>

        {% for message in app.flashes('SuccessCantineFileSubmit') %}
            <div class="flash-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('eleveMissing') %}
            <div class="erreur">
                {{ message|replace({"!":"!</br>"})|raw }}
                <table class="table tableAdmin">
                    <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Date de naissance</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key in eleveMissingTab|keys %}
                        <tr>
                            <td>{{ eleveMissingTab[key].prenom }}</td>
                            <td>{{ eleveMissingTab[key].nom }}</td>
                            <td>{{ eleveMissingTab[key].dateDeNaissance|date('d/m/Y') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
        <div class="fichierForm">
            {{ form_start(form) }}
            <div>
                <label>Liste des inscriptions :</label>
                {{ form_help(form.fileSubmit) }}
                {% if form_errors(form.fileSubmit) %}
                    <div class="erreur">
                        {{ form_errors(form.fileSubmit) }}
                    </div>
                {% endif %}
            </div>
            <div id="fileInputUser">
                {{ form_widget(form.fileSubmit) }}
            </div>
            {{ form_end(form) }}
        </div>
        <div class="row">
            <div id="divAjout">
                <button type="submit" class="btn btn-success" form="formFichier">
                    Envoyer votre liste d'inscription
                </button>
                <a href="{{ path('espace_admin') }}"
                   id="btnRetour" class="btn btn-secondary">
                    Revenir à l'espace administration
                </a>
            </div>
        </div>
    </main>
{% endblock %}