{% extends 'base.html.twig'%}
{% block title %}Liste des commandes à venir{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{asset('static/css/admin.css')}}">{% endblock %}

{% block body %}
    <h1>Liste des commandes à venir</h1>
    <div>
        <div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formExportPdf">
                Exportation
            </button>
            <div class="modal fade" id="formExportPdf" tabindex="-1" aria-labelledby="formExportLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="formExportLabel">Exportation PDF</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h1>Choisir les modalités de votre export</h1>
                            {{ form_start(exportForm) }}
                            {{ form_end(exportForm) }}
                            <button type="submit"
                                    class="btn btn-success" form="formExport">
                                Démarré votre export
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#"
               class="btn btn-secondary" id="btnRetour">
                Retourner à la liste des fonctionnalités
            </a>
        </div>
    </div>
    <div id="formFilter">
        <div id="filtre">
            {{form_start(form)}}
            <div class="selectFiltre">
                <span>{{form_label(form.nom)}} </span>
                {{form_widget(form.nom)}}
            </div>
            <div class="selectFiltre">
                <span>{{form_label(form.date)}}</span>
                {{form_widget(form.date)}}
            </div>
            <div class="selectFiltre">
                <span>{{form_label(form.cloture)}}</span>
                {{form_widget(form.cloture)}}
            </div>
            <div>
                <button type="submit" class="btn btn-info">
                    Afficher
                </button>
            </div>
            {{form_end(form)}}
        </div>
    </div>
    <div>
        {{ knp_pagination_render(commandes_ind) }}
    </div>
    <table class="table tableAdmin">
        <thead>
            <tr>
                <th>Date de Livraison</th>
                <th>Prénom et Nom</th>
                <th>Classe</th>
                <th>Commande</th>
                <th>Chips</th>
                <th>Éditer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for commande in commandes_ind %}
                <tr>
                    <td>
                        <span>{{ commande.dateHeureLivraison ? commande.dateHeureLivraison|date('d/m/Y') : '' }}</span>
                        <span>{{ commande.dateHeureLivraison ? commande.dateHeureLivraison|date('H:i') : '' }}</span>
                    </td>
                    <td>{{ commande.commandeur.prenomUser }} <span>{{ commande.commandeur.nomUser }}</span></td>
                    <td>
                        {% if commande.commandeur.eleves %}
                            {% for eleve in commande.commandeur.eleves %}
                                {{ eleve.classeEleve.codeClasse }}
                            {% else %}
                                Adulte
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        <span>{{ commande.sandwichChoisi.nomSandwich }}</span>
                        <span>{{ commande.boissonChoisie.nomBoisson }}</span>
                        <span>{{ commande.dessertChoisi.nomDessert }}</span>
                    </td>
                    <td>{{ commande.prendreChips ? '<i class="fas fa-check"></i>' :
                        '<i class="fas fa-times"></i>' }}</td>
                    <td>
                        <a href="{{ path('commande_individuelle_edit',
                            {'id': commande.id}) }}" class="btn btn-primary">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('commande_individuelle_delete_view',
                            {'id': commande.id}) }}" class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" class="erreur">Aucune commande n'a été trouvée</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(commandes_ind) }}
    </div>
    <script>
        function myFunction() {
            const x = document.getElementById("selectExport").value;
            let toEnable;
            let toDisable;
            if (x === "Séparé") {
                toEnable = document.getElementById("exportComSepare");
                toEnable.style.display = "unset";
                toDisable = document.getElementById("exportComRegroupe")
                toDisable.style.display = "none";
            } else {
                toEnable = document.getElementById("exportComRegroupe")
                toEnable.style.display = "unset";
                toDisable = document.getElementById("exportComSepare");
                toDisable.style.display = "none";
            }
        }
    </script>
{% endblock %}
