{% extends 'base.html.twig' %}

{% block title %}Modifier votre commande individuelle{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{asset('static/css/admin.css')}}">{% endblock %}

{% block body %}
    <h1>Modifier votre commande individuelle</h1>

    {% for message in app.flashes('SuccessComInd') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}

    <div>
        <div class="container-fluid formEntité2" id="commandeFormInd">
            {{ include('commande_individuelle/_form.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div id="divAjout">
            <button type="submit"
                    class="btn btn-success" form="formCommandeInd">
                Modifier votre commande
            </button>
            {% if is_granted('ROLE_ELEVE') or is_granted('ROLE_ADULTES')%}
                <a href="{{ path('commande_individuelle_index') }}"
                   class="btn btn-secondary" id="btnRetour">
                    Revenir à la liste
                </a>
            {% elseif is_granted('ROLE_ADMIN')%}
                <a href="{{ path('commande_individuelle_admin') }}"
                   class="btn btn-secondary" id="btnRetour">
                    Revenir à la liste
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}