{% extends 'base.html.twig' %}

{% block title %}Commande individuelle{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{asset('static/css/admin.css')}}">{% endblock %}

{% block body %}
    <h1>Faire une commande individuelle</h1>
    {% for message in app.flashes('SuccessComInd') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('limiteCloture') %}
        <div class="erreur">
            {{ message }}
        </div>
    {% endfor %}
    <div>
        <div class="container-fluid formEntité2" id="commandeFormInd">
           {{ include('commande_individuelle/_form.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div id="divAjout">
            {% if is_granted('ROLE_ELEVE') %}
                {% if nbCommandeJournalier < limiteNbJournalier and limiteActiveNbJour == true %}
                    {% if nbCommandeSemaine < limiteNbSemaine and limiteActiveNbSemaine == true %}
                        {% if nbCommandeMois < limiteNbMois and limiteActiveNbMois == true %}
                            <button type="submit"
                                    class="btn btn-success" form="formCommandeInd" id="btnComInd">
                                Enregistrer votre commande
                            </button>
                        {% else %}
                            {% if limiteActiveNbMois == false %}
                                <button type="submit"
                                        class="btn btn-success" form="formCommandeInd" id="btnComInd">
                                    Enregistrer votre commande
                                </button>
                            {% else %}
                                <button class="btn btn-success" id="btnAjout" disabled>
                                    Vous avez dépassé le nombre limite mensuel de {{limiteNbMois}} commandes !
                                </button>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if limiteActiveNbSemaine == false %}
                            <button type="submit"
                                    class="btn btn-success" form="formCommandeInd" id="btnComInd">
                                Enregistrer votre commande
                            </button>
                        {% else %}
                            <button class="btn btn-success" id="btnAjout" disabled>
                                Vous avez dépassé le nombre limite hebdomadaire de {{limiteNbSemaine}} commandes !
                            </button>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if limiteActiveNbJour == false %}
                        <button type="submit"
                                class="btn btn-success" form="formCommandeInd" id="btnComInd">
                            Enregistrer votre commande
                        </button>
                    {% else %}
                        <button class="btn btn-success" id="btnAjout" disabled>
                            Vous avez dépassé le nombre limite journalier de {{limiteNbJournalier}} commandes !
                        </button>
                    {% endif %}
                {% endif %}
            {% else %}
                <button type="submit"
                        class="btn btn-success" form="formCommandeInd" id="btnComInd">
                    Enregistrer votre commande
                </button>
            {% endif %}
            <a href="{{ path('commande_individuelle_index') }}"
               class="btn btn-secondary" id="btnRetour">
                Revenir à la liste
            </a>
        </div>
    </div>
{% endblock %}