{% extends 'base.html.twig' %}

{% block title %}Liste de sandwichs{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{asset('static/css/admin.css')}}">{% endblock %}

{% block body %}
    <h1>Liste de sandwichs</h1>
    <div>
        <a href="{{ path('sandwich_new') }}"
           class="btn btn-primary" id="btnAjout">
            Ajouter un nouveau sandwich
        </a>
        <a href="{{ path('espace_admin') }}"
           class="btn btn-secondary" id="btnRetour">
            Retourner à l'espace administration
        </a>
    </div>
    <div>
        {{form_start(form)}}
        <div id="filtre" class="filtre form-row align-items-end">
            <div class="selectFiltre">
                <div>
                    <span>{{form_label(form.ordre)}}</span>
                    {{form_widget(form.ordre)}}
                    <span>{{form_label(form.dispo)}}</span>
                    {{form_widget(form.dispo)}}
                </div>
                <div>
                    <button type="submit" class="btn btn-info" >
                        Afficher
                    </button>
                </div>
            </div>
        </div>
        {{form_end(form)}}
    </div>
    <div>
        {{ knp_pagination_render(sandwiches) }}
    </div>
    <div class="table-responsive-lg">
        <table class="table table-lg tableAdmin">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Nom</th>
                    <th>Liste d'ingrédients</th>
                    <th>Liste de commentaire</th>
                    <th>Disponibilité</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for sandwich in sandwiches %}
                    <tr>
                        <td>
                            {% if sandwich.imageSandwich %}
                                <img src="{{ asset('uploads/imgSandwich/' ~ sandwich.imageSandwich) }}" alt="photo d'un sandwich">
                            {% else %}
                                <img src="{{ asset('/static/images/placeholder.jpg') }}" alt="placeholder">
                            {% endif %}
                        </td>
                        <td>{{ sandwich.nomSandwich }}</td>
                        <td>{{ sandwich.ingredientSandwich ? sandwich.ingredientSandwich : 'Aucune description précisé.'}}</td>
                        <td>{{ sandwich.commentaireSandwich ? sandwich.commentaireSandwich : 'Aucun commentataire précisé.'}}</td>
                        <td>
                            {{ sandwich.dispoSandwich ? '<i class="fas fa-check"></i>' :
                            '<i class="fas fa-times"></i>' }}
                        </td>
                        <td>
                            <a href="{{ path('sandwich_edit',
                                {'id': sandwich.id}) }}" class="btn btn-primary">
                                <i class="far fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('sandwich_delete_view',
                                {'id': sandwich.id}) }}" class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" class="erreur">Aucun sandwich n'a été trouvé !</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        {{ knp_pagination_render(sandwiches) }}
    </div>
{% endblock %}
