{{ form_start(form) }}
    {{ form_label(form.nomBoisson) }}
    {% if form_errors(form.nomBoisson) %}
        <div class="erreur">
            {{ form_errors(form.nomBoisson) }}
        </div>
    {% endif %}
    <div class="divInput">
        {{ form_widget(form.nomBoisson) }}
    </div>
    {{ form_label(form.imageBoisson) }}
    {{ form_help(form.imageBoisson) }}
    {% if form_errors(form.imageBoisson) %}
        <div class="erreur">
            {{ form_errors(form.imageBoisson) }}
        </div>
    {% endif %}
    <div class="divInput fileInput">
        {{ form_widget(form.imageBoisson) }}
    </div>
    {{ form_label(form.dispoBoisson) }}
    {% if form_errors(form.dispoBoisson) %}
        <div class="erreur">
            {{ form_errors(form.dispoBoisson) }}
        </div>
    {% endif %}
    <div class="divInput">
        {{ form_widget(form.dispoBoisson) }}
    </div>
{{ form_end(form) }}
