{% extends 'base_pdf.html.twig' %}
{% block title %}PDF du {{ dateChoisi|date('d/m/Y') }}{% endblock %}
{% block body %}
    <main>
        <h1>Commandes du {{ dateChoisi|date('d/m/Y') }} </h1>
        <table style="border: solid; width: 100%">
            <thead>
            <tr>
                <th style="text-align: center; border: solid ;font-size: 1.5em">Nom du produit</th>
                <th style="text-align: center; border: solid ;font-size: 1.5em">Nombre de produits commandés</th>
            </tr>
            </thead>
            <tbody>
            {% for sandwich in sandwichDispo %}
                <tr>
                    <td style="text-align: center; border: solid ;font-size: 1.25em">
                        {{ sandwich.nomSandwich }}
                    </td>
                    <td style="text-align: center; border: solid ;font-size: 1.25em">
                        {% set nbSandwich = 0 %}
                        {% for commande in commandes %}
                            {% if commande.sandwichChoisi.id == sandwich.id %}
                                {% set nbSandwich = nbSandwich + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% for commandeGroupe in commandesGroupe %}
                            {% for sandwichCommande in commandeGroupe.sandwichCommandeGroupes %}
                                {% if sandwichCommande.sandwichChoisi.id == sandwich.id %}
                                    {% set nbSandwich = nbSandwich + sandwichCommande.nombreSandwich %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        {% if nbSandwich != 0 %}
                            {{ nbSandwich }}
                        {% else %}
                            <span style="color: red; font-weight: bold">Aucun sandwich de ce type n'a été commandé !</span>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td style="color: red; font-weight: bold">Aucun sandwich n'a été commandé !</td>
                </tr>
            {% endfor %}
            {% for boisson in boissonDispo %}
                <tr>
                    <td style="text-align: center; border: solid ;font-size: 1.25em">
                        {{ boisson.nomBoisson }}
                    </td>
                    <td style="text-align: center; border: solid ;font-size: 1.25em">
                        {% set nbBoisson = 0 %}
                        {% for commande in commandes %}
                            {% if commande.boissonChoisie.id == boisson.id %}
                                {% set nbBoisson = nbBoisson + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% for commandeGroupe in commandesGroupe %}
                            {% set nombreEleve = 0 %}
                            {% for sandwichCommande in commandeGroupe.sandwichCommandeGroupes %}
                                {% set nombreEleve = nombreEleve + sandwichCommande.nombreSandwich %}
                            {% endfor %}
                            {% if commandeGroupe.boissonChoisie.id == boisson.id %}
                                {% set nbBoisson = nbBoisson + nombreEleve %}
                            {% endif %}
                        {% endfor %}
                        {% if nbBoisson != 0 %}
                            {{ nbBoisson }}
                        {% else %}
                            <span style="color: red; font-weight: bold">Aucune boisson de ce type n'a été commandée !</span>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td style="color: red; font-weight: bold">Aucune boisson n'a été commandée !</td>
                </tr>
            {% endfor %}
            {% for dessert in dessertDispo %}
                <tr>
                    <td style="text-align: center; border: solid ;font-size: 1.25em">
                        {{ dessert.nomDessert }}
                    </td>
                    <td style="text-align: center; border: solid ;font-size: 1.25em">
                        {% set nbDessert = 0 %}
                        {% for commande in commandes %}
                            {% if commande.dessertChoisi.id == dessert.id %}
                                {% set nbDessert = nbDessert + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% for commandeGroupe in commandesGroupe %}
                            {% set nombreEleve = 0 %}
                            {% for sandwichCommande in commandeGroupe.sandwichCommandeGroupes %}
                                {% set nombreEleve = nombreEleve + sandwichCommande.nombreSandwich %}
                            {% endfor %}
                            {% if commandeGroupe.dessertChoisi.id == dessert.id %}
                                {% set nbDessert = nbDessert + nombreEleve %}
                            {% endif %}
                        {% endfor %}
                        {% if nbDessert != 0 %}
                            {{ nbDessert }}
                        {% else %}
                            <span style="color: red; font-weight: bold">Aucun dessert de ce type n'a été commandé !</span>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td style="color: red; font-weight: bold">Aucun dessert n'a été commandé !</td>
                </tr>
            {% endfor %}
            <tr>
                <td style="text-align: center; border: solid ;font-size: 1.25em">
                    Chips
                </td>
                <td style="text-align: center; border: solid ;font-size: 1.25em">
                    {% set nbChips = 0 %}
                    {% for commande in commandes %}
                        {% if commande.prendreChips == 1 %}
                            {% set nbChips = nbChips + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% for commandeGroupe in commandesGroupe %}
                        {% for sandwichCommande in commandeGroupe.sandwichCommandeGroupes %}
                            {% set nbChips = nbChips + sandwichCommande.nombreSandwich %}
                        {% endfor %}
                    {% endfor %}
                    {% if nbChips != 0 %}
                        {{ nbChips }}
                    {% else %}
                        <span style="color: red; font-weight: bold">Aucun paquet de chips n'a été commandé !</span>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </main>
{% endblock %}