{% extends 'base.html.twig' %}

{% block title %}Ajouter une liste d'utilisateurs{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('static/css/admin.css') }}">
{% endblock %}
{% block body %}
    <main class="container-fluid">
        <h1>Ajouter une liste d'utilisateurs</h1>
        <p>Vous trouverez ci-dessous le fichier modèle à télécharger.</p>
        <a class="btn btn-info" id="btnAjout" href="{{ asset('/static/images/utilisateurTest.xlsx') }}">
            Télécharger modèle
        </a>

        <h2>Veuillez sélectionner un fichier contenant une liste d'utilisateurs !</h2>
        <h2>Voici les champs obligatoires dans cette ordre et</h2>
        <h2>les titres des champs doivent être nommés comme afficher ici :</h2>
        <img id="champObli" src="{{ asset('/static/images/champObligatoireUser.png') }}"
             alt="Champ obligatoire liste d'utlisateurq">

        {% for message in app.flashes('SuccessUserFileSubmit') %}
            <div class="flash-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="fichierForm">
            {{ form_start(form) }}
            <div>
                <label>Liste des utilisateurs (en XLSX) :</label>
                {% if form_errors(form.fileSubmit) %}
                    <div class="erreur">
                        {{ form_errors(form.fileSubmit) }}
                    </div>
                {% endif %}
            </div>
            <div id="fileInputUser">
                {{ form_widget(form.fileSubmit) }}
            </div>
            {{ form_end(form) }}
        </div>

        <div class="row">
            <div id="divAjout">
                <button type="submit" class="btn btn-success" form="formFichier">
                    Envoyer votre liste d'utilisateurs
                </button>
                <a href="{{ path('user_index') }}"
                   id="btnRetour" class="btn btn-secondary">
                    Revenir à la liste
                </a>
            </div>
        </div>
    </main>
{% endblock %}